<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
          <% if (templateVars.user) { %>
            <p>HELLO THERE: <%= templateVars.user %> </p>
            <form method="POST" action="/urls/logout">
              <input type="submit" value= "Logout">
            </form>
          <% } else { %>
            <form method="GET" action="/login">
              Existing user?
              <input type="submit" value= "Login">
            </form>
            <form method="GET" action="/register">
              New user?
              <input type="submit" value= "Register here!">
            </form>
          <% } %>


          <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>

