<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

</head>
<body>

  <main>

        <div class="jumbotron">
            <h1>Error: 400. invalid email/password, username doesnt exist, or email already registered.</h1>
            <a href= '/register'> New user? Sign up!</a>
            <br><a href= '/login'>An existing user? Sign in!</a>


    <!-- Add your EJS code here -->
    <!-- list urls AND short forms -->
<!-- link for shortening URL -->

      </div>
  </main>
</body>
</html>
