<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

</head>
<body>

  <main>

        <div class="jumbotron">
            <h1>Log in:</h1>


            <form method="POST" action="/login">
              Input Email:<input type="email" name="email"/>
              Input Password:<input type="password" name="password"/>
              <input type="submit" value= "login">
            </form>



    <!-- Add your EJS code here -->
    <!-- list urls AND short forms -->
<!-- link for shortening URL -->

      </div>
  </main>
</body>
</html>