<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
    <% include ../views/partials/_header %>

</head>
<body>
  <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
    <!-- Add your EJS code here -->
    <!-- list urls AND short forms -->
<!-- link for shortening URL -->

      </div>
  </main>
</body>
</html>
