<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
    <% include ../views/partials/_header %>

</head>
<body>
  <main>
        <div class="jumbotron">
          <ul>
          <h1><p>Edit: <%= templateVars.shortURL %></p></h1>
              <form method="POST" action="/urls/<%= templateVars.shortURL %>/update">
                <input type="text" name="longURL" value="<%= templateVars.longURL %>" >
                <input type="submit" value= "update">
               </form>


        </ul>
      </div>
  </main>
</body>
</html>
